//** This file contains all application-wide Sass variables.

// Regular font family
$copyfont: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// Copy text color

// Main brand color

//** Breakpoints map
// @prop {String} keys - Keys are identifiers mapped to a given length
// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px
);