.surveyBox {
    font-family: $copyfont;
    width: 90%;
    color: $fontcolor;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: $copyfont;
    border-radius: 2rem;
    @include respond-to(medium) {
        width: 50%;
    }
}

.surveyInnerBox button {
    padding: .5rem;
    font-family: $copyfont;
}

.cnsTitle {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.surveyTitle {
    margin-bottom: 0;
}

.questionItem p {
    margin-bottom: 0;
}

.questionItem {
    width: 100%;
}

.bottomButtons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addSq {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: $fontcolor;
    border: 1px solid $fontcolor;
    background-color: unset;
}

.addSq:hover,
.addSq:focus {
    color: white;
    background-color: $fontcolor;
    border: white;
    transition: .2s background-color ease-in-out;
}

.subtractQues {
    background-color: white;
    color: black;
    width: 2rem;
    margin-left: .5rem;
    border: none;
}

.subtractQues:hover,
.subtractQues:focus {
    background-color: red;
    color: white;
    transition: .2s background-color ease-in-out;
}

.submitSurvey {
    // background-color: black;
    background-color: $newblue;
    color: white;
    border: none;
    width: 5.5rem;
    height: 2.4rem;
    border-radius: 2rem;
    padding: 2rem;
}

.submitSurvey:hover,
.submitSurvey:focus {
    background-color: #11C211;
}
