.surveyBox {
    width: 90%;
    color: $fontcolor;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-family: 'Raleway', sans-serif;
    @include respond-to(medium) {
        width: 90%;
    }
}

.QuestionClump{
    margin-bottom: 2%;
    margin-left: 6%;
}

.SurveyNum{
    font-size: larger;
}

h3.surveyQTitle {
    padding-bottom: 6%;
    margin-left: 0;
}

.QuestionClump, .surveyTitleInput{
    display: flex;
    align-items: normal;
}

.surveyTinput , .surveyQInput {
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(77, 77, 77, 0.07);
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    outline: none;
    text-indent: 5%;
    font-size: 1.3rem;
}

.surveyTitleInput {
    margin-bottom: 8%;
}

.surveyInnerBox {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 100%;
    @include respond-to(medium) {
        width: 50%;
    }
    // @include respond-to(large) {
    //     width: 40%;
    // }
}

.surveyInnerBox button {
    align-self: flex-end;
    padding: .5rem;
    font-family: $copyfont;
}

.cnsTitle {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    @include respond-to(medium) {
        font-size: 3.5rem;
    }
}

.surveyTitle,
.surveyQTitle {
    margin-bottom: 0;
    align-self: flex-start;
    font-size: 2.2rem;
}

.surveyTinput {
    align-self: normal;
    border: none;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(77, 77, 77, 0.07);
    margin-left: 4%;
}

.questionItem p {
    margin-bottom: .5rem;
}

.questionItem {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.questionClump {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

button.addSq {
    margin-bottom: 6%;
}

.bottomButtons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.addSq {
    box-shadow: 1px 1px 1px 1px rgba(77, 77, 77, 0.07);
    background-color: white;
    color: black;
    width: 2rem;
    margin-left: .5rem;
    border: none;
}

.addSq:focus {
    outline: none;
}

.addSq:hover {
    background-color: #97c2c1;
    outline: none;
    cursor: pointer;
    color: white;
    transition: .2s background-color ease-in-out;
}

.subtractQues {
    box-shadow: 1px 1px 1px 1px rgba(77, 77, 77, 0.07);
    background-color: white;
    color: black;
    width: 2rem;
    margin-left: .5rem;
    border: none;
}

.subtractQues:hover,
.subtractQues:focus {
    background-color: #e59696;
    outline: none;
    cursor: pointer;
    color: white;
    transition: .2s background-color ease-in-out;
}

.submitSurvey {
    border: none;
}

button.btn.btn-outline-secondary.submitSurvey {
    margin-right: 0;
}

