.quizBox {
    font-family: $copyfont;
    width: 90%;
    // height: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: $copyfont;
    border-radius: 2rem;
    @include respond-to(medium) {
        width: 50%;
    }
}

.quizInnerBox button {
    padding: .5rem;
    font-family: $copyfont;
}

.cnqTitle {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.quizTitle {
    margin-bottom: 0;
}

.quizQuestionLine {
    width: 100%;
}

.quizQuestionItem p {
    margin-bottom: 0;
}

.quizQuesTest {
    width: 100%;
}

.addQuizQues {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: black;
    border: 1px solid black;
    background-color: unset;
}

.addQuizQues:hover,
.addQuizQues:focus {
    color: white;
    background-color: black;
    border: white;
    transition: .2s background-color ease-in-out;
}

.submitQuiz {
    background-color: black;
    color: white;
    border: none;
    padding: 2rem;
}

.submitQuiz:hover,
.submitQuiz:focus {
    background-color: #11C211;
}

.subtractQuizQues {
    background-color: white;
    color: black;
    margin-left: .5rem;
    border: none;
}

.subtractQuizQues:hover,
.subtractQuizQues:focus {
    background-color: red;
    color: white;
    transition: .2s background-color ease-in-out;
}

.quizOptionButtons {
    margin-top: .5rem;
    display: flex;
    width: 30%;
    // justify-content: space-between;
    border: 1px solid black;
}

.subtractQoption,
.addQoption {
    border: none;
    background-color: white;
    color: black;
}

.subtractQoption:hover,
.subtractQoption:focus,
.addQoption:hover,
.addQoption:focus {
    border: none;
    background-color: black;
    color: white;
    transition: .2s background-color ease-in-out;
}

.quizOptionsBlock {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.quizOptionItem {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.quizOptionsBlock input {
    width: 80%;
}

.quizOptionsBlock .correct {
    margin-top: 0;
    align-self: flex-end;
}

.quizOptionRadio {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}