.HDNavButton {
    border: none;
    padding: 1.6rem;
    font-size: 1rem;
    background-color: unset;t
    font-family: 'Raleway', sans-serif;
    @include respond-to(small) {
        font-size: 1.2rem;
    }
}

.HDNavButton:focus,
.HDNavButton:hover {
    // background-color: black;
    // background-color: $newblue;
    background-color: #697fa3;
    transition: .5s background-color ease-in-out;
}

.HDNavButton a {
    color: white;
}

a:hover {
    text-decoration: none;
}

