.hostDash {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    // background: url(stylesheets/images/littleboard3.jpg);
}

.createPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createSelection {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $copyfont;
}

.createTitle {
    // margin-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $fontcolor;
    @include respond-to(medium) {
        margin-top: 0;
        // margin-bottom: 2rem;
        font-size: 2.8em;
    }
}

.createBox {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,.2);
    // box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: $copyfont;
    border-radius: 2rem;
    @include respond-to(medium) {
        width: 30rem;
    }
    @include respond-to(large) {
        width: 45rem;
    }

.quizOrSurveyBox {
    @include respond-to(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.createOption {
    width: 5rem;
    height: 2.7rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 2rem;
    background-color: $newblue;
    @include respond-to(medium) {
        width: 8.4rem;
        height: 4.2rem;
        font-size: 1.8rem;
    }
}

.createOption:hover,
.createOption:focus {
    // background-color: rgba(0,0,0,0.5);
    background-color: $darkerblue;
    transition: .4s background-color ease-in-out;
}