.hostDash {
    display: flex;
    width: 100%;
    background-color: #9abbdc;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    flex-direction: row;
    // background: url(stylesheets/images/littleboard3.jpg);
}

.HDGreeting{
    color: #fefdfb;
    display: flex;
    font-size: 3rem;
    font-weight: 600;
}

.Greeting{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.createPage {
    background-color: #eae7e3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.createSelection {
    background-color: #eae7e3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.createTitle {
    // margin-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $fontcolor;
    @include respond-to(medium) {
        margin-top: 0;
        // margin-bottom: 2rem;
        font-size: 4rem;
    }
}

.createBox {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: 'Raleway', sans-serif;
    @include respond-to(medium) {
        width: 30rem;
    }
}
.createOption:focus, .createOption:hover {
    color: white;
    background-color:transparent; 
}

.quizOrSurveyBox {
    @include respond-to(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.createOption {
    width: 5rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    @include respond-to(medium) {
        width: 6.4rem;
        height: 3.2rem;
        font-size: 1.8rem;
    }
}