.landingButton {
    width: 5rem;
    height: 2.2rem;
    border: none;
    @include respond-to(medium) {
        font-size: 500%;
    }
}

.landingButtonContainer {
    display: flex;
    width: 80%;
    height: 10%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}