.landingButton {
    width: 5rem;
    border: none;
    @include respond-to(medium) {
        font-size: 500%;
    }
}

.landingButtonContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid blue;
}