.landingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(stylesheets/images/blooboard.jpg);
    background-size: cover;
    color: white;
}

h1.branding {
    font-size: 4rem;
}

.branding {
    margin-bottom: 2rem;
    font-weight: bold;
    // font-size: 3rem;
    text-align: center;
    font-family: 'Raleway', $copyfont;
    // font-family: 'Homemade Apple', cursive;
    // font-family: 'Montserrat', 'Lucia Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // letter-spacing: 3px;
    @include respond-to(small) {
        font-size: 4rem;
    }
}

svg.logo {
    width: 4rem;
    height: 4rem;
    color: white;
}